<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js News</title> 
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">Node.Js News</div>
        <%- include('./partials/search.ejs') %>
    </header>

    <div class="wrapper">
        <div class="news-single">
                <a href="/albums">&larr;- Back</a>
                <% if(article != null) { %>
                    <br>
                    <img src=<%= article.image %>>
                    <h2><%= article.name %></h2>
                    <p>Artist: <%= article.artist %></p>
                    <p>Released in <%= article.year %></p>
                    <p>Peaked at <%= article.peak %> in the United States</p>
                    <p><%= article.sales %> copies sold</p>
                    <p><%= article.certification %></p>
                <% } else { %>
                    No posts found.
                <% } %>
        </div>
    </div>  
</body>
</html> 